#storeSidebar {
    position:fixed;
    left: 0;
    top:0px;
    min-width: 100px;
    min-height: 100vh;
    float:left;
    height:100%;
    width: 20%;
    padding-top: 130px;
    padding-left: 30px;
    /* background-color: lightgray; */
}

.sticky-store-sidebar {
    top: 105px !important;
}

.sidebar-header {
    text-transform: uppercase;
    letter-spacing: 0.1em;
    font-weight: 100;
    font-size: 1.3em;
}

.sidebar-item {
    width: 100%;
    padding: 15px 0 15px 5px;
    margin-left: 10px;
    font-size: 12px;
    font-weight: 200;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image 0.3s ease-in-out;
}

.sidebar-item:hover {
    background-image: linear-gradient(to right, white, rgba(237,213,209,.2) , white);
	cursor:pointer;
}

.sidebar-category-clicked {
    
}

.sidebar-category-clicked:before {
    content: "\25CE";
    display: inline-block;
    position:relative;
    left: -20px;
    margin-right: -9px;
    font-family: "Genericons";
    font-size: 9px;
    font-weight: bolder !important;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: middle;
    -moz-transition: color .1s ease-in 0;
    -webkit-transition: color .1s ease-in 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
}