
.ProductTableItem {
    width:calc(90% / 3);
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.product-table-image {
    display:table-cell;
    padding: 25px 25px 25px 25px;
    width: 100%;
    height: 25vw;
    object-fit: cover;
    object-position: 50% 50%;
}