
.ProductTableItem {
    width:calc(90% / 3);
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.product-table-image {
    display:table-cell;
    padding: 25px 25px 25px 25px;
    width: 100%;
    height: 25vw;
    object-fit: cover;
    object-position: 50% 50%;
}

.product-table-out-of-stock::before {
    content: 'Sold out';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: rgb(235,235,235);
    opacity: 0.9;
    color: rgb(80,80,80);
    padding: 3% 6%;
    vertical-align: middle;
    position:relative;
    float:right;
    top:22px;
    left:-29px;
    z-index: 999;
    margin-bottom: -11%;
    font-size:1em;
}

