#storeFilterButton {
    display: none;
    /* float:right; */
    position:relative;
    top: -100px;
    width:30%;
    min-width:135px;
    margin: auto;
    background-color: white;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    line-height: normal !important;
    padding: 10px 20px;
    user-select: none;
    z-index: 4 !important;
    border: 1px solid black;
    transition: background,color 0.75s;
}

#storeFilterButtonContent::before {
    position:relative;
    top:-1px;
    left: -3px;
    content: '\2637';
}

.filter-button-clicked {
	background-color: black !important;
	color: white;
    float: right !important;
    position:fixed !important;
    top:115px !important;
    right:0;
}

#storeFilterButton:hover {
    cursor: pointer;
}