#storeBreadcrumb {
    background-color: white;
    text-align: center;
    font-weight: 100;
    font-size: 12px;
    letter-spacing: 0.1em;
    text-transform: uppercase;
    margin-top: 3%;
    margin-bottom: 0;
    user-select: none;
    padding-left:19%;
}

.product-page #storeBreadcrumb {
    padding-left: 0;
}

.active-breadcrumb {
    color: black;
}

.inactive-breadcrumb {
    color: grey;
}

.inactive-breadcrumb::before {
    content: '/ \00a0';
    color:black;
}

.inactive-breadcrumb::after {
    content: ' \00a0';
    color:black;
}

.active-breadcrumb::before {
    content: '/ \00a0';
}

.crumb:hover {
    color: black;
}

.inactive-breadcrumb:hover {
    cursor: pointer;
}