@media screen and (max-width: 700px) {
    #storeSidebar {
        /* display:none; */
        left:-9999px;
        width:100vw;
        padding-top: 130px;
        opacity: 0;
        transition: opacity 0.2s;
        z-index: 1;
    }

    .sidebar-header {
        display:none;
    }

    .sidebar-enabled {
        left:0 !important;
        opacity: 1 !important;
    }

    #sidebarItemWrapper {
        padding-top:20px;
    }
}
