#storeSidebar {
    position:fixed;
    left: 0;
    top:0px;
    min-width: 100px;
    min-height: 100vh;
    float:left;
    height:100%;
    width: 20%;
    padding-top: 130px;
    padding-left: 30px;
    background-color: white;
}

.sticky-store-sidebar {
    top: 95px !important;
}

.sidebar-item {
    width: 98%;
    padding: 15px 0 15px 5px;
    margin-left: 2%;
    font-size: 12px;
    font-weight: 200;
    -webkit-transition: background-image 0.3s ease-in-out;
    transition: background-image,opacity 0.2s ease-in-out;
}

.sidebar-item:hover {
    opacity: 0.7;
}

#sidebarItemWrapper:hover {
	cursor:pointer;
}

.sidebar-category-clicked {
    
}

/* .sidebar-category-clicked:before {
    content: "\25CE";
    display: inline-block;
    position:relative;
    left: -20px;
    margin-right: -9px;
    font-family: "Genericons";
    font-size: 9px;
    font-weight: bolder !important;
    font-style: normal;
    font-variant: normal;
    line-height: 1;
    text-align: center;
    text-decoration: inherit;
    text-transform: none;
    vertical-align: middle;
    -moz-transition: color .1s ease-in 0;
    -webkit-transition: color .1s ease-in 0;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
} */

#storeSidebar .panel-closer-wrapper {
    display:none;
}