#storeSidebar {
    position:fixed;
    left: 0;
    top:0px;
    min-width: 100px;
    min-height: 100vh;
    float:left;
    height:100%;
    width: 20%;
    padding-top: 130px;
    padding-left: 30px;
    background-color: white;
}

.sticky-store-sidebar {
    top: 95px !important;
}

.sidebar-item {
    width: 98%;
    padding: 15px 0 15px 15px;
    margin-left: 2%;
    font-size: 12px;
    font-weight: 200;
    -webkit-transition: box-shadow 0.1s ease-in-out;
    transition: box-shadow 0.1s ease-in-out;
}

#sidebarItemWrapper:hover {
	cursor:pointer;
}

.sidebar-category-clicked {
    box-shadow: -2px 0px 2px rgb(245,245,245);
    font-weight: 400 !important;
}

#storeSidebar .panel-closer-wrapper {
    display:none;
}