#homepageTiles {
	padding: 4% 7%;
	text-align: center;
}

.homepage-tile-image {
	width: 60%;
	opacity: 1;
	transition: opacity 0.3s;
}

.homepage-tile-image:hover {
	cursor:pointer;
	opacity: 0.85;
	/* width:56%; */
}

.homepage-tile-column {
	text-align: center;
	vertical-align: bottom;
	width:33%;
}

.homepage-tile-column:nth-of-type(1) .homepage-tile-image {
	width:70%;
}

.tile-header {
	font-size:14px;
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-weight: 200;
}

#homepageTilesHeader {
	font-weight: 200;
	letter-spacing: 0.1em;
	font-size: 21px;
	margin-bottom:50px;
}