#site-footer {
	width:100%;
	margin-top:100px;
	margin-bottom: 60px;
	position:relative;
	bottom: 0px;
	display: block;
	text-align: center;
	color: #616a74;
}

.fa {
	font-size: 27px;
	font-weight:lighter;
	color: #616a74;
	padding-left:10px;
	padding-right: 10px;
}

.fa:hover {
	text-decoration: none;
	opacity: 0.75;
	transition: opacity .3s;
}

.checkout-footer {
	width: 60% !important;
}