#checkoutInfo {
    padding: 2% 15%;
}

.checkout-form-header {
    margin-top: 30px;
    margin-bottom:5px;
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.1em;
}

#checkoutInfo form input {
    font-size:13px;
    padding-top:13px;
    padding-bottom:13px;
    padding-left:10px;
    padding-right: 10px;
    margin-left: 0 !important;
    transition: padding 0.2s;
    border: 1px solid lightgray;
    border-radius: 5px;
    border-spacing: 0 !important;
}

#checkoutInfo form label {
    margin: 0 9px;
    position:relative;
    top:16px;
    left: 1px;
    opacity: 0;
    transition: opacity 0.2s;
    color: gray;
}

.form-input-entered {
    padding-top:21px !important;
    padding-bottom:5px !important;
}

.form-label-entered {
    opacity: 1 !important;
}

.form-length-medium {
    width: 100%;
}

.form-length-full {
    width: 100%;
}