@media screen and (max-width: 700px) {
    #siteNavigation {
        position: fixed;
        left:0;
        top:-9999px;
        font-size: 12px;
        text-align: left;
        font-weight:100;
        width: 100%;
        height:100%;
        text-shadow: none;
        color: rgb(10,10,10);
        background-color:white;
        padding-top:10%;
        transition: opacity 0.3s;
        opacity: 0;
    }

    .site-navigation-enabled {
        top:0 !important;
        opacity: 1 !important;
    }

    .nav-item {
        display: block;
        letter-spacing: 0.1em;
        margin-left: 5px;
        padding: 11px 0;
        list-style: none;
        position: relative;
        font-size: 13px;
    }
    

    .nav-sub-item {
        display:block;
        font-size: 13px !important;
        letter-spacing: 0.1em;
        margin-left: 0;
        text-align: left;
        text-transform: none;
        background-color: white;
        padding: 11px 20px;
        text-shadow: none;
    }
    
    .nav-item-link {
        transition: opacity 0.3s;
    }
    
    .nav-item-link:hover {
        opacity: 0.6;
    }
    
    #siteNavigation:hover {
        cursor:pointer;
    }
    
    
    #siteNavigation a:hover,
    #siteNavigation a:focus {
        text-decoration: none;
    }
    
    #siteNavigation ul ul {
        left: 0;
        margin-top: 10px;
        position:inherit;
        width: 290px;
        z-index: 20 !important;
        padding-left: 0;
    }
    
    #siteNavigation li.nav-item-has-children > a:after {
        content: "";
        display: inline-block;
        font-family: "Genericons";
        font-size: 8px;
        font-style: normal;
        font-variant: normal;
        line-height: 1;
        margin-left: 5px;
        text-align: center;
        text-decoration: inherit;
        text-transform: none;
        vertical-align: middle;
        -moz-transition: color .1s ease-in 0;
        -webkit-transition: color .1s ease-in 0;
        -moz-osx-font-smoothing: grayscale;
        -webkit-font-smoothing: antialiased;
    }
    
    
    #siteNavigation ul li:hover > ul{
        left: 0;
        margin-left: 0;
    }
    
    #siteNavigation ul ul li:hover > ul,
    #siteNavigation ul ul li.focus > ul {
        left: auto;
        margin: 0;
        right: unset;
    }
    
    #cartLink700 {
        display:block !important;
        position:absolute;
        right:0;
        line-height: normal !important;
        font-size:10px;
        font-weight: 100 !important;
        margin: 22px 17px;
        text-align: center;
    }

    #cartLink {
        display:none !important;
    }

    #navCartImage700 {
        width:15px;
	    margin-right:2px;
	    margin-bottom: -3px;
    }

    .cart-contents {
        display: block;
        float: right;
        padding-top:7px;
    }

    .cart-filled::before {
        content: '\2022';
        text-transform: uppercase;
        letter-spacing: 0.1em;
        color: rgb(206,174,165);
        vertical-align: middle;
        position:absolute;
        top:1px;
        right:15px;
        font-size:22px;
    }

    #siteSearch700 {
        display:block;
        place-items:center;
        position:absolute;
        top:0px;
        right:0;
        border: 0;
        line-height: normal !important;
        font-size:14px;
        font-weight: 100 !important;
        margin: 20px 106px;
        z-index: 1;
        text-align: center;
    }

    #siteSearchImage700 {
        width:19px;
	    height:19px;
    }
}
