@media screen and (max-width: 700px) {
    #siteHeader {
        /* text-align: center; */
        min-height: 75px;
        padding: 0px 0px 0px 10px;
    }

    .sticky-header {
        min-height: 75px !important;
    }
}
