#siteNavigation {
	display: table-cell;
	font-size: 12px;
	text-align: right;
	vertical-align: middle;
	font-weight:100;
	width: 70%;
    text-shadow: none;
    color: rgb(10,10,10);
	padding-top:5px;
}

#primary-menu {
	padding-left:5px !important;
}

.nav-item {
	display: inline-block;
	letter-spacing: 0.1em;
	margin-left: 24px;
	padding: 6px 0 10px;
	text-transform: uppercase;
    list-style: none;
    position: relative;
}

.nav-sub-item {
    display:block;
	font-size: 1.2rem;
	letter-spacing: 0.1em;
	margin-left: 0;
	text-align: left;
	text-transform: none;
	background-color: white;
	padding: 1.3rem 20px;
	text-shadow: none;
}

.nav-item-link {
	transition: opacity 0.3s;
}

.nav-item-link:hover {
	opacity: 0.6;
}

.sub-menu:hover {
	cursor:pointer;
}


#siteNavigation a:hover,
#siteNavigation a:focus {
    text-decoration: none;
}

#siteNavigation ul ul {
	left: -9999em;
	margin-top: 10px;
	position: absolute;
	width: 290px;
	padding-left: 0;
}

#siteNavigation li.nav-item-has-children > a:after {
	content: "\25BC";
	display: inline-block;
	font-family: "Genericons";
	font-size: 8px;
	font-style: normal;
	font-variant: normal;
	line-height: 1;
	margin-left: 5px;
	text-align: center;
	text-decoration: inherit;
	text-transform: none;
	vertical-align: middle;
	-moz-transition: color .1s ease-in 0;
	-webkit-transition: color .1s ease-in 0;
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}


#siteNavigation ul li:hover > ul{
	left: 50%;
	margin-left: -110px;
}

#siteNavigation ul ul li:hover > ul,
#siteNavigation ul ul li.focus > ul {
	left: auto;
	margin: 0;
	right: 100%;
}

#navCartImage,
#navCartImage700 {
	width:15px;
	margin-right:3px;
	margin-bottom: -3px;
}

#cartLink:hover,
#cartLink700:hover {
	cursor: pointer;
}

#cartLink700 {
	display:none;
}

.cart-filled::before {
    content: '\2022';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    color: rgb(206,174,165);
    vertical-align: middle;
    position:absolute;
    top:-3px;
    right:16px;
    font-size:22px;
}

#siteSearchImage,
#siteSearchImage700 {
	width:18px;
	height:18px;
	margin-bottom:-3px;
	margin-left:0 !important;
}

#siteSearchImage:hover,
#siteSearchImage700:hover {
	cursor:pointer;
}

#siteSearch700 {
	display:none;
}