@media screen and (max-width: 700px) {
    #siteHeader {
        min-height: 75px;
        padding: 0px 0px 0px 10px;
        transition: opacity 0.2s;
    }

    .sticky-header {
        min-height: 75px !important;
    }
}
