
.ProductTableItem {
    width:calc(90% / 3);
    padding: 5px 10px 5px 10px;
    text-align: center;
}

.product-table-image {
    display:table-cell;
    padding: 25px 25px 25px 25px;
    width: 100%;
    height: 25vw;
    object-fit: cover;
    object-position: 50% 50%;
}

.product-table-out-of-stock::before {
    content: 'Sold out';
    text-transform: uppercase;
    letter-spacing: 0.1em;
    background-color: rgb(235,235,235);
    opacity: 0.9;
    color: rgb(110,110,110);
    padding: 3% 5%;
    vertical-align: middle;
    position:relative;
    float:right;
    top:22px;
    left:-29px;
    /* z-index: -9; */
    margin-bottom: -11%;
    font-size:1.1em;
}

.product-table-item-name {
    font-size: 14px;
    font-weight: 400;
    margin-top:-12px;
}

.product-table-item-price {
    font-size: 12px;
    font-weight: 200;
    margin-top:5px;
}
