@media screen and (max-width: 700px) {
    .product-image-table {
        width:100%;
    }

    .product-page-image {
        width: 80%;
        max-width:80vw;
        height:65vw;
        margin:auto;
        float:none;
        min-height:175px;
    }

    .product-additional-image {
        height: 17vw;
    }
}
